* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: rgb(248, 255, 229);
    /* --color-secondary: rgb(150, 79, 201); */
    --color-secondary: rgb(239, 71, 111);
    /* --color-secondary: rgb(244, 37, 85);
    --color-secondary: rgb(150, 79, 201);
    --color-secondary: rgb(200, 25, 225); */

    --color-secondary-fade: 244, 37, 85;
    --color-secondary-box: 239, 71, 111;
    /* --color-primary: rgb(2, 14, 14); */
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.2);
}

html {
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 25px 60px;
    /* padding: 3% 1%; */
    /* background-color: var(--color-primary); */
    font-family: 'Poppins', sans-serif;
    animation-name: opac;
    animation-duration: 2s;
}

#testing {
    width: 100px;
    height: 100px;
    /* background-color: black; */
}

/* .bod1 {
    background-color: var(--color-background);
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 25px 60px;
    font-family: 'Poppins', sans-serif;
    animation-name: opac;
    animation-duration: 2s;
} */


@keyframes opac {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



a { 
    display: inline-block;
}

/* -------------------------------------------------------------------------------------------------- */
/* header */

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid black; */
}

.left-header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    overflow: hidden;
}

.image-container {
    display: flex;
    width: 100%;
    /* border: 2px solid black; */
    z-index: 100;
    align-items: center;
    justify-content: center;
}

.image {
    display: flex;
    width: 400%;
    animation-name: fade;
    animation-duration: 500ms;
    animation-timing-function: ease-in;

    /* transform: translateX(-100px); */
    /* transition: 500ms; */
    align-items: center;
    justify-content: center;
}

.slides {
    width: 500px;
    transition: 500ms ease-in-out;
    border-radius: 5px;
    /* margin-left: calc(25% - 500px); */
    margin-left: 100px;
}

#slides {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
@keyframes fade {
    0% {
        transform: translateX(120%)
    }
    100% {
        transform: translateX(0)
    }
}


.right-header {
    padding: 3rem 3rem;
    color: var(--color-primary);
}

.right-header h1 {
    /* border: 1px solid black; */
    /* padding-top: 1rem; */
    width: 500px;
    font-size: 45px;
}

.right-header p {
    padding-top: 1rem;
    font-size: 17px;
}

.name span {
    color: var(--color-secondary);
}

/* Buttons */
.btns {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.btn-container {
    display: flex;
    width: fit-content;
    height: auto;
    align-self: flex-start;
    box-shadow: var(--box-shadow-1);
    border-radius: 30px;
    font-size: 20px;
    transition: 1s;
    cursor: pointer;
}

.main-btn {
    border-radius: 30px;
    font-weight: 600;
    position: relative;
    /* border: 1px solid var(--color-primary); */
    display: flex;
    overflow: hidden;
    align-self: flex-start;
    align-items: center;
    padding-right: 1rem;
    z-index: 1;
    width: 8rem;
    height: 3rem;
}


.btn-text {
    z-index: 3;
    padding-left: 40%;
    filter: none;
    opacity: 1;
    transition: all .2s ease-in; 
    font-size: 18px;
    color: var(--color-primary);
    font-weight: 800;
}

.btn-icon {
    z-index: 4;
    display: flex;
    width: 35px;
    height: 50px;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    background-color: var(--color-secondary);
    border-radius: 10%;
    margin-right: 0.5rem;
    /* transform: translateX(0); */
    transition: all .2s ease-in;
    opacity: 1;
}

.btn-icon i {
    transform: translateX(0);
    transition: all .2s ease-in;
    color: var(--color-primary);
    font-size: 1rem;
    filter: none;
}

.main-btn:hover .btn-icon {
    width: 8rem;
    transition: all .2s ease-out;
    background-color: rgba(var(--color-secondary-fade), 0.70);
    backdrop-filter: blur(2px);
}

.main-btn:hover .btn-icon i{
    transition: all .2s ease-out;
    font-size: larger;
}

.main-btn:hover .btn-text{
    opacity: 0;
    transition: all .2s ease-out;
}




/* ------------------------------------------------------------------------------------- */
/* Projects */

#projects {
    color: var(--color-primary);
}

.projects-title {
    display: block;
    height: 100px;
    margin-top: 20px;
    /* position: absolute; */
}

.projects-title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-secondary);

}

.projects-title-p {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 500px; */
}

.projects-title p {
    text-align: center;
    width: 830px;
}

.projects-container {
    /* display: flex; */
    width: fit-content;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 40px;
    /* grid-template-columns: repeat(1, 1fr); */
    /* border: 1px solid black; */
}



.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid black; */
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: rgba(var(--color-secondary-fade), 0.40) 0px 7px 29px 0px;
}

.right-project{
    /* width: 400px; */
    /* padding-top: 10px;
    padding-left: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.right-project img {
    width: 800px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    transition: 200ms;
    margin-right: 10px;
}

.right-project img:hover {
    transform: scale(1.1);
    cursor: pointer;
}




.left-project {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;

}

.left-project h1{
    display: flex;

}
.left-project p {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* source code buttons */

.project-btn {
    align-items: center;
    appearance: none;
    background-color: var(--color-secondary);
    border-radius: 2px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px, rgba(var(--color-secondary-fade), 0.55) 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}
   
/* .project-btn:focus {
    box-shadow: #D6D6E7 0 0 20px 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(var(--color-secondary-fade), 0.55) 0 -3px 0 inset;
} */
   
.project-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 20px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, rgba(var(--color-secondary-fade), 0.55) 0 -3px 0 inset;
    transform: translateY(-2px);
}
   
.project-btn:active {
    box-shadow: rgba(var(--color-secondary-fade), 0.55) 0 3px 20px inset;
    transform: translateY(2px);
}
